<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Event Performance Organizer</title>
</head>
<body>
    <%-include('./partials/nav')%>
    <div>
        <h3>Edit Band</h3>
    </div> <br> 

    <form action="/band/edit/<%= data.id %>" method="POST">
        <label> Nama Band</label><br>
        <input type="text" name="band_name" value="<%= data.band_name %>"><br><br>
        <label > Asal Band</label><br>
        <input type="text" name="band_origin" value="<%= data.band_origin %>"><br><br>
        <label >Band Personil</label><br>
        <input type="number" name="band_member" value="<%= data.band_member %>"><br><br>

        <input type="submit" value="EDIT BAND">
    </form>
</body>
</html>